@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import "./common/common";
@import "./pages/home";
@import "./pages/about";
@import "./pages/founder-message";
@import "./pages/people";
@import "./pages/people-details";
