@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";

.slideshow {
  position: relative;
  z-index: 1;
  width: 100%;

  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .item {
    height: 100%;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
      transition: all 8s cubic-bezier(0.7, 0, 0.3, 1);
      transform: scale(1);
    }

    &.slick-active img {
      transform: scale(1.5);
    }

    .item_text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-bottom: 140px;
      padding-top: 200px;
    }
  }
}

.banner_area {
  // .banner_slider_item {
  //   background-repeat: no-repeat !important;
  //   background-size: cover !important;
  //   background-position: center center !important;
  //   padding-bottom: 140px;
  //   padding-top: 200px;
  //   transition: all 8s cubic-bezier(0.7, 0, 0.3, 1);
  // }

  .text {
    text-align: left;

    .title {
      @include font(34px, 700);
      color: $white;
      padding: 0 40px;
      padding-left: 0;
      margin-bottom: 50px;
      position: relative;

      &::before {
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 80px;
        height: 2px;
        background-color: $secondary;
        content: "";
      }
    }

    p {
      color: $white;
      margin-bottom: 40px;
      padding: 0 80px;
      padding-left: 0;
    }

    .banner_btn {
      background-color: transparent;
      border: 2px solid $secondary;
      color: $secondary;
      font-size: 16px;

      &:hover {
        background-color: $secondary;
        color: $white;
      }

      &::before {
        display: none;
      }
    }
  }

  .icon {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  .icon.left {
    left: 50px;
  }

  .icon.right {
    right: 50px;
  }
}