@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/line-limit";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Belleza', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  line-height: 26px;
  color: $paragraph;
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  @include font(16px, 400);
  color: $black;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: $primary;
  color: $white;
}

a,
button {
  transition: $transition;
}

// common btn
.common_btn {
  background-color: $primary;
  border-radius: 50px;
  padding: 15px 30px;
  position: relative;
  transition: $transition;
  color: $white;
  @include font(14px, 600);
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 1px;

  i {
    margin-right: 8px;
    font-size: 18px;
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: $primary;
  }

  &:hover {
    &::before {
      transform: scale(1.1);
    }
  }
}

// section title
.section_title {
  .main_title {
    @include font(30px, 900);
    display: inline-block;
    font-family: 'Belleza', sans-serif;
    color: $black;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 10px;
      height: 10px;
      content: "";
      background-color: $primary;
      box-shadow: 0px 0px 10px rgba(53, 119, 240, 0.4);
    }

    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 10px;
      height: 10px;
      content: "";
      background-color: $primary;
      box-shadow: 0px 0px 10px rgba(53, 119, 240, 0.4);
    }
  }
}

.mt-30 {
  margin-top: 30px
}

.mb-30 {
  margin-bottom: 30px
}

.mt-40 {
  margin-top: 40px
}

.mb-40 {
  margin-bottom: 40px
}

.mt-50 {
  margin-top: 50px
}

.mb-50 {
  margin-bottom: 50px
}

// line limit start
.line-limit-1 {
  @include line_limit (1 !important);
}

.line-limit-2 {
  @include line_limit (2 !important);
}

.line-limit-3 {
  @include line_limit (3 !important);
}

.line-limit-4 {
  @include line_limit (4 !important);
}

.line-limit-6 {
  @include line_limit (6 !important);
}

.line-limit-7 {
  @include line_limit (7 !important);
}

.line-limit-8 {
  @include line_limit (8 !important);
}

.line-limit-9 {
  @include line_limit (9 !important);
}

.line-limit-10 {
  @include line_limit (10 !important);
}